@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
#ingreso{
    align-items:flex-start;
    margin-right: 20vh;
}
.botonesInferiores{
    margin-left: 21vw;
   
}
#ventas.textVentas{
    min-width: 20%;
    min-height: 90%;
}
.ventas{
    max-height: 75%;
}
select.listas{
    min-width: 21vw;
    background-color: rgb(187, 90, 90);
}
select.listaEstadisticas{
    margin-top: 3vw;
    min-width: 42vw;
    min-height: 30vw;
    background-color: rgb(187, 90, 90);
    border-radius: 0.4vw;
}
.main{
    margin-left: 50px;
}
#contacto{
    margin-top: 6%;
}
#listaVentas.listaDVentas{
    background-color: #e84c46;
    min-width: 32vw;
}
.ingreso{
    align-items: center;
    max-width: 17vw;
    min-width: 40%;
    margin-right: 33%;
    margin-left: 33%;
}
header{
    width: 100%;
    height: 4vw;
    margin-top: 3vw;
    position: fixed;
    z-index: 1;
    padding: 2vw;
    margin-left: 0%;
}
.container__menu{
    max-width: 50vw;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 0vw;
}

.logo img{
    width: 3vw;

}
.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
    margin-left: 2vw;
}
#tablaVentas{
    max-width: 40vw;
    max-height: 40vw;
}
.textVentas{
    
    align-items: center;
    align-content: center;
    max-height: 120%;
    max-width: 100%;
    margin-top: 30%;
    margin-left: 30px;
    background-color: #ff08008c;
    border-radius: 0.4vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
   }
.menu ul li a{
    text-decoration: none;
    font-size: 0.85vw;
    color: #fff;
    text-transform: uppercase;
}

#selected{
    background: #e84c46;
    padding: 0.4vw 2vw;
    border-radius: 4vw;
}

.menu nav img{
    display: none;
    align-items: left;
}

.menu #btn_menu{
    display: none;
}

/*COVER*/
.botones{
    border-radius: 0.4vw;
    align-items: flex-end;
    width: 40%;
    height: 10%;
    justify-content: right;
}

.container__cover{
    width: 100%;
    height: 46vw;
    background-image: url(../images/Background-page.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding: 4vw;
    align-items: center;
}

.cover{
    max-width: 720vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subCover{
    max-width: 1%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.container__cover .text{
    max-width: 35vw;
    min-width: 40%;
    margin-right: 5%;
}

.container__cover .text h1{
    font-size: 2.2vw;
}

.container__cover .text p{
    font-size: 0.72vw;
    margin-top: 1.6vw;
}

.container__cover .text input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #fab2b2, #f0150d);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #f0150d;
    transition: all 300ms;
}

.boton{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #fab2b2, #f54d4d);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #f54d4d;
    transition: all 300ms;
}
.botonVentas{
    padding: 2% 10%;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #fab2b2, #f54d4d);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #f54d4d;
    transition: all 300ms;
}

.container__cover .text input:hover{
    box-shadow: 1px 1px 30px -6px #f0150d;
}

.container__cover .svg img{
    width: 600px;
    animation: move-vector 4s linear infinite;
}

@keyframes move-vector {
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}

/*Haciendo la página Responsive*/

@media screen and (max-width: 1700px){

    .container__cover{
        background-position: 50%;
    }

}

@media screen and (max-width:1200px){

    header{
        padding: 40px;
    }

    .container__cover{
        background-position: -100px;
    }

    .container__cover .svg img{
        width: 500px;
    }

}

@media screen and (max-width: 1020px){

    .container__cover{
        background-image: url("");
        background-color: #e84c46;
    }

    .container__cover .svg img{
        display: none;
    }

    .container__cover .text{
        max-width: 600px;
    }

}

@media screen and (max-width: 720px){

    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: white;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a{
        color: #bebebe;
    }

    #selected{
        background: none;
        padding: 0px;
        border-radius: none;
        color: #e84c46;
    }

    .menu nav img{
        display: block;
        width: 60px;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }

    .menu #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover{
        background: rgba(255, 255, 255, 0.2);
    }
}
body::-webkit-scrollbar{
    width:0.35vw;
  }
  select.listas::-webkit-scrollbar{
    width:0.35vw;
  }
  select.listaEstadisticas::-webkit-scrollbar{
    width:0.35vw;
  }
  select#listaVentas.listaDVentas::-webkit-scrollbar{
    width:0.35vw;
  }
  body::-webkit-scrollbar-thumb{
    background:rgb(192, 42, 42);
    border-radius: 0.50vw ;
  }
 